<?xml version="1.0" encoding="UTF-8"?>
<web-app >
    <servlet>
    <servlet-name>HelloWorldServletName</servlet-name>
      <servlet-class>cn.liyanan.HelloWorld</servlet-class>  
    </servlet>
    <servlet-mapping>
    <servlet-name>HelloWorldServletName</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>
</web-app>